services:
  qdrant:
    image: qdrant/qdrant:dev
    container_name: qdrant
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - qdrant_storage:/qdrant/storage
    environment:
      - QDRANT__SERVICE__GRPC_PORT=6334
    restart: unless-stopped
    networks:
      - versagraph-network

  mongodb:
    image: mongo:noble
    container_name: mongodb
    ports:
      - "27017:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGOBD_USERNAME}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGODB_PASSWORD}
      - MONGO_INITDB_DATABASE=${MONGODB_DATABASE}
    volumes:
      - mongodb_data:/data/db
    restart: unless-stopped
    networks:
      - versagraph-network

volumes:
  qdrant_storage:
    driver: local
  mongodb_data:
    driver: local


networks:
  versagraph-network:
    driver: bridge
